* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 10px;
  
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenu {
  width: 600px;
  height: 300px;
  background-color: whitesmoke;
  border: solid 1px lightgray;
  margin: auto;
  text-align: center;
}

/* 0- TRANSITION */
#transition {
  margin: auto;
  width: 100px;
  height: 30px;
  background: PaleGreen;
  border-radius: 10px;
  transition: 3s;
}

#transition:hover {
  height: 250px;
}

/*------------------Carré-------------------- */

#carre {
  width: 100px;
  height: 100px;
  background-color: peru;
  margin: auto;
  margin-top: 75px;
  animation: carre;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes carre
{
    0% {background: peru;}

    25% {
      background: orangered;
      transform: rotate(720deg);
    }

    100% {
      background: peru;
      transform: rotate(-360deg);
    }
}

/*-------------------Balle------------------- */

#box {
  width: 50px;
  height: 215px;
  border: solid 1px IndianRed;
  margin: auto;
  margin-top: 30px;
}

#balle {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: LightCoral;
  margin: auto;
  margin-top: 38px;
  animation: balle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes balle
{
    0% {top : 0px;}
    10% {transform: translateY(130px);}
    20% {transform: translateY(30px);}
    30% {transform: translateY(130px);}
    40% {transform: translateY(60px);}
    50% {transform: translateY(130px);}
    60% {transform: translateY(90px);}
    70% {transform: translateY(130px);}
    80% {transform: translateY(110px);}
    100% {transform: translateY(130px);}
}